.navbar-gitlab {
  padding: 0 16px;
  z-index: $header-zindex;
  margin-bottom: 0;
  min-height: var(--header-height);
  border: 0;
  position: fixed;
  top: $calc-system-headers-height;
  left: 0;
  right: 0;
  border-radius: 0;

  .close-icon {
    display: none;
  }

  .header-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    min-height: var(--header-height);
    padding-left: 0;

    .title {
      padding-right: 0;
      color: currentColor;
      display: flex;
      position: relative;
      margin: 0;
      font-size: 18px;
      vertical-align: top;
      white-space: nowrap;

      img {
        height: 24px;

        + .logo-text {
          margin-left: 8px;
        }
      }

      &.wrap {
        white-space: normal;
      }

      &.initializing {
        opacity: 0;
      }

      a:not(.canary-badge) {
        display: flex;
        align-items: center;
        padding: 2px 8px;
        margin: 4px 2px 4px -8px;
        border-radius: $border-radius-default;

        &:active,
        &:focus {
          @include gl-focus($focus-ring: $focus-ring-dark);
        }
      }
    }

    .dropdown.open {
      > a {
        border-bottom-color: $white;
      }
    }
  }

  .container-fluid {
    padding: 0;

    .nav > li {
      > a {
        will-change: color;
        margin: 4px 0;
        padding: 6px 8px;
        height: 32px;
      }
    }
  }
}

.top-bar-container {
  min-height: $top-bar-height;
}

.top-bar-fixed {
  @include gl-inset-border-b-1-gray-100;
  background-color: $body-bg;
  left: var(--application-bar-left);
  position: fixed;
  right: var(--application-bar-right);
  top: $calc-application-bars-height;
  width: auto;
  z-index: $top-bar-z-index;

  @media (prefers-reduced-motion: no-preference) {
    transition: left $gl-transition-duration-medium, right $gl-transition-duration-medium;
  }
}

.breadcrumbs {
  flex: 1;
  min-width: 0;
  align-self: center;
  color: $gl-text-color-secondary;

  .avatar-tile {
    margin-right: 4px;
    border: 1px solid $border-color;
    border-radius: 50%;
    vertical-align: sub;
  }
}

.breadcrumb-item-text {
  text-decoration: inherit;

  @include media-breakpoint-down(xs) {
    @include str-truncated(128px);
  }
}

.navbar-empty {
  justify-content: center;
  height: var(--header-height);
  background: $white;
  border-bottom: 1px solid $gray-100;

  .tanuki-logo,
  .brand-header-logo {
    max-height: 100%;
  }
}

.set-user-status-modal {
  .modal-body {
    min-height: unset;
  }

  .input-lg {
    max-width: unset;
  }

  .no-emoji-placeholder {
    svg {
      fill: var(--gray-500, $gray-500);
    }
  }

  .emoji-menu-toggle-button {
    @include emoji-menu-toggle-button;
    padding: $gl-vert-padding $gl-btn-padding;
  }

  .input-group {
    &,
    .input-group-prepend,
    .input-group-append {
      height: $input-height;
    }
  }
}

.nav-links > li > a {
  .badge.badge-pill {
    @include media-breakpoint-down(xs) { display: none; }
  }

  @include media-breakpoint-down(xs) { margin-right: 3px; }
}

.top-nav-menu-item {
  &.active,
  &:hover {
    background-color: $nav-active-bg !important;
  }

  .gl-icon {
    color: inherit !important;
  }
}

.header-logged-out {
  z-index: $header-zindex;
  min-height: var(--header-height);
  position: fixed;
  top: $calc-system-headers-height;
  left: 0;
  right: 0;
  background-color: $brand-charcoal;
}

.header-logged-out-nav {
  position: relative;
  min-height: var(--header-height);
}

.header-logged-out-logo {
  a {
    display: flex;
    align-items: center;
    padding: 4px;
    margin-left: -4px;
    border-radius: $border-radius-default;

    &:hover,
    &:focus {
      background-color: $brand-gray-04;
    }

    &:focus,
    &:active {
      @include gl-focus;
    }

    &:active {
      background-color: $brand-gray-03;
    }
  }
}

.header-logged-out-toggle {
  appearance: none;
  border: 0;
  background-color: transparent;
  border-radius: $border-radius-default;
}

.header-logged-out-dropdown {
  position: static;

  .dropdown-menu {
    position: absolute;
    width: 100%;
    min-width: 100%;
  }
}

.header-logged-out-nav-item {
  > button,
  > a {
    display: inline-block;
    padding: 6px 8px;
    height: 32px;
    border-radius: $border-radius-default;
    @include gl-text-gray-100;
    @include gl-font-weight-normal;
    @include gl-font-base;

    &:hover,
    &:focus,
    &:active {
      @include gl-text-white;
    }

    &:hover,
    &:focus {
      background-color: $brand-gray-04;
      text-decoration: none;
    }

    &:focus,
    &:active {
      @include gl-focus;
    }

    &:active {
      background-color: $brand-gray-03;
    }
  }
}
